@import "src/components/UserInterface/Modal/abstractStyles.css";

.game-interface-parent {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game-interface-message {
    position: relative;
    max-height: 200px;

    z-index: 1;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.game-interface-child {
    margin-bottom: 5px;
    padding: 5px;
    height: 40px;
    top: 20px;
    right: 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 16px;

    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.33);
}
